#contact-us {
  font-family: $font-serif;
  color: #ffffff;
}

#contact-us .contact-label {
  display: block;
  font-size: 12px;

  @media ($large) {
    font-size: 14px;
  }
}

#contact-us .contact-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media ($medium) {
    justify-content: flex-start;
    height: 50px;
  }
}

#contact-us .contact-data-info {
  margin: 0 0 0 10px;

  .phone {
    display: block;
  }

  .phone,
  .address {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;

    @media ($small) {
      font-size: 21px;
    }

    @media ($large) {
        font-size: 32px;
    }

    @media ($xlarge) {
        font-size: 38px;
    }
  }
}

#contact-us .icon-wrapper {
  background-color: $basic-color;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;

  @media ($large) {
    height: 42px;
    width: 42px;
    line-height: 42px;
  }

  .fas {
    @media ($large) {
      font-size: 24px;
      height: 100%;
      width: 100%;
      line-height: 42px;
    }
  }

  .fa-phone-volume {
    transform: rotate(-45deg);
    transform-origin: center;
  }
}

#contact-us .content {
  text-align: center;

  @media ($medium) {
    text-align: left;
    padding-left: 42px;
  }

  @media ($large) {
    text-align: left;
    padding-left: 52px;
  }
}

#contact-us .link {
  color: #ffffff;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
}

#contact-us .contact-other-wrapper .link {
  font-size: 18px;

  @media ($medium) {
    font-size: 20px;
  }

  @media ($xlarge) {
    font-size: 22px;
  }
}
