#footer {
    background-color: $primary-bg-color;
    font-size: 14px;

    @media ($large) {
        font-size: 16px;
    }
}

#footer .link, #footer .content {
    color: #ffffff;
}

#footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer .image {
    display: block;
    width: 200px;

    @media ($medium) {
        width: 280px;
    }

    @media ($xlarge) {
        width: auto;
    }
}

#footer .footer-nav-items {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer .footer-nav-items .link {
    margin: 0 15px;
    line-height: 1.8;
}

#footer .footer-info, #footer .footer-info .link {
    color: $footer-txt-color;
}