#welcome {
    margin-top: -20vw;

    @media ($medium) {
        margin-top: -15vw;
    }

    @media ($large) {
        margin-top: -12vw;
    }

    @media ($xlarge) {
        margin-top: -8vw;
    }
}

#welcome .welcome-content {
    background: $primary-bg-color;
    color: #ffffff;
    padding: 15px;

    @media ($small) {
        padding: 20px 30px;
    }

    @media ($medium) {
        padding: 30px 40px;
    }

    @media ($large) {
        padding: 40px 60px;
    }

    @media ($large) {
        padding: 60px 110px;
    }
}

#welcome .welcome-title, #welcome .welcome-subtitle {
    text-align: center;
}

#welcome .welcome-title {
    font-size: 24px;
    font-family: $font-serif;
    font-weight: 900;

    @media ($large) {
        font-size: 36px;
    }

    @media ($xlarge) {
        font-size: 42px;
    }
}

#welcome .welcome-subtitle {
    font-size: 18px;
    font-family: $font-serif;

    @media ($large) {
        font-size: 22px;
    }

    @media ($xlarge) {
        font-size: 24px;
    }
}

#welcome .welcome-text {
    font-size: 14px;
    text-align: justify;

    @media ($large) {
        font-size: 16px;
    }
}

#welcome .welcome-text:last-of-type {
    margin: 0;
}