#contact-form .form-label, #contact-form .form-agree-label {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-sans-serif;
    text-align: justify;
    color: $secondary-txt-color;

    @media ($large) {
        font-size: 13px;
        line-height: 1.6;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

#contact-form .form-text-input:focus, #contact-form .form-textarea:focus, #contact-form .form-agree-checkbox.focus {
    border-color: $basic-color;
}

#contact-form .form-text-input, #contact-form .form-textarea, #contact-form .form-agree-checkbox {
    &:hover {
        border-color: $basic-color;
        opacity: .8;
    }
}

#contact-form .form-text-input, #contact-form .form-textarea {
    border: 1px solid $border-form-color;
    border-radius: 0;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    background-color: $secondary-bg-color;
    color: #ffffff;
    font-weight: 700;

    @media ($large) {
        padding: 8px 15px;
    }
}


#contact-form #agreement {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#contact-form .form-agree-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 25px 0;

    @media ($medium) {
        padding: 0 15px;
    }

    @media ($large) {
        margin: 25px 0 40px 0;
    }
}

#contact-form .form-agree-checkbox {
    display: inline-block;
    margin-top: 6px;
    margin-right: 15px;
    height: 24px;
    width: 24px;
    background-color: $secondary-bg-color;
    border: 1px solid $border-form-color;
    text-align: center;
    opacity: .9;
    cursor: pointer;
}

#contact-form .form-agree-checkbox.active {
    background-color: $basic-color;
    color: $primary-txt-color;
    border-color: $basic-color;
}

#contact-form .form-agree-label {
    width: calc(100% - 40px);
    margin: 0;
}

#contact-form .btn-1 {
    margin: 0 0 0 auto;
}

#contact-form .error-text-content {
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    font-family: $font-sans-serif;
    font-size: 12px;
    color: #FF9494;
}

#contact-form .error-text-content::before {
    content: '*';
    position: absolute;
    left: -10px;
    top: -4px;
    color: #FF9494;
    font-size: 18px;
}

.statment-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    min-height: 100px;
    padding: 50px 0;
    text-align: center;
    background-color: $primary-bg-color;
    border: 1px solid $basic-color;
    z-index: 99;
}