#gallery {
    position: relative;
  margin: 20px 0;

  @media ($small) {
      margin: 40px 0;
  }

  @media ($medium) {
      margin: 60px 0;
  }

  @media ($large) {
      margin: 80px 0;
  }

  @media ($xlarge) {
      margin: 100px 0;
  }
}

#gallery, #gallery .gallery-item {
  height: 160px;

  @media ($small) {
    height: 228px;
  }

  @media ($medium) {
    height: 300px;
  }

  @media ($large) {
    height: 370px;
  }

  @media ($xlarge) {
    height: 460px;
  }
}

#gallery .gallery-items {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;

  @media ($large) {
    padding: 20px 0;
  }
}

#gallery .gallery-items.active {
  cursor: grabbing;
}

#gallery .gallery-item {
  position: absolute;
  top: 50%;
  width: 280px;
  transform-origin: top left;
  transition: 0.5s ease-in-out;
  opacity: 0;
  will-change: transform, scale;

  @media ($small) {
    width: 400px;
  }

  @media ($medium) {
    width: 520px;
  }

  @media ($large) {
    width: 640px;
  }

  @media ($xlarge) {
    width: 800px;
  }
}

.gallery-picture {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#gallery .gallery-item.active {
  left: 50%;
  transform: scale(.95) translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

#gallery .gallery-item::after, #gallery .gallery-item::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 20px;
    background-color: $basic-color;
    transition: .5s linear;
    transition-delay: .5s;
    opacity: 0;
    z-index: -1;
    will-change: transform, opacity;
}

#gallery .gallery-item.active::after, #gallery .gallery-item.active::before {
    opacity: 1;
    transform: translateY(0);
}

#gallery .gallery-item::after {
    top: -12px;
    left: -15px;
    transform: translateY(100%);
}

#gallery .gallery-item::before {
    bottom: -12px;
    right: -15px;
    transform: translateY(-100%);
}

#gallery .gallery-item.left-item,
#gallery .gallery-item.right-item {
  transform: scale(0.7) translate(-50%, -50%);
  opacity: 0.5;
}

#gallery .gallery-item.left-item {
  left: 10px;

  @media ($xlarge) {
    left: 3vw;
  }
}

#gallery .gallery-item.right-item {
  left: calc(100% - 10px);

  @media ($xlarge) {
    left: calc(100% - 3vw);
  }
}

// #gallery .gallery-item.left-item::before, #gallery .gallery-item.right-item::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255,255,255,.5);
// }
