.map-wrapper {
    position: relative;
}

.map-wrapper::after, .map-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 9;
}

.map-wrapper::before {
    background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,1));
    top: 0;
}

.map-wrapper::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1));
}

.map-wrapper {
    height: 400px;

    @media ($large) {
        height: 500px;
    }
}


.map .marker-map {
    position: relative;
    color: $primary-bg-color;
    font-size: 32px;
    overflow: hidden;

    @media ($large) {
        font-size: 48px;
    }
}

.map .marker-map::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 10px;
    background-color: $basic-color;
    z-index: -1;

    @media ($large) {
        height: 20px;
    }
}