#section-with-background .section-with-background-content {
    color: #ffffff;
}

#section-with-background .section-with-background-content .text {
    text-align: center;
}

#section-with-background .section-with-bgc-list {
    text-align: center;
}