#section-with-background .section-title-wrapper {
    margin-bottom: 15px;
}
#section-with-background .section-with-background-content {
    color: #ffffff;
}

#section-with-background .section-with-background-content .text {
    text-align: center;
}

#section-with-background .section-with-bgc-list {
    text-align: center;
}

#section-with-background .list-item {
    margin-bottom: 5px;
    font-size: 14px;

    @media ($large) {
        margin-bottom: 10px;

        font-size: 16px;
    }
}

#section-with-background .list-item:last-of-type {
    margin-bottom: 0;
}