// Background color
$primary-bg-color: #111119;
$secondary-bg-color: #181825;
$menu-bg-active: rgba(24, 24, 37, .99);
$about-us-bg: rgba(24, 24, 37, .9);
$even-room-bg: #f6f6fb;

// Text color
$primary-txt-color: #101018;
$secondary-txt-color: #aaaaaa;
$menu-txt-color: #181825;
$header-txt-color: #111119;
$link-txt-color: #1f1f2b;

// Border color
$border-form-color: #aaaaaa;

// Accent color
$basic-color: #ffd300;