.text {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;

    @media ($large) {
        font-size: 16px;
        line-height: 1.8;
    }
}

.text:last-child {
    margin: 0;
}

.img-wrapper {
    position: relative;
}

.img-wrapper .image {
    position: absolute;
}

.secondary-title {
    font-weight: 900;
    font-family: $font-serif;
    margin-bottom: 0;
    font-size: 20px;

    @media ($small) {
        margin-bottom: 15px;
    }

    @media ($medium) {
        font-size: 24px;
        margin-bottom: 25px;
    }
}

.main-padding {
    padding: 30px 0;

    @media ($large) {
        padding: 50px 0;
    }

    @media ($xlarge) {
        padding: 80px 0;
    }
}

.main-padding-bottom {
    padding-bottom: 30px;

    @media ($large) {
        padding-bottom: 50px;
    }

    @media ($xlarge) {
        padding-bottom: 80px;
    }
}

.elem-padding-bottom {
    padding-bottom: 15px;

    @media ($large) {
        padding-bottom: 25px;
    }

    @media ($xlarge) {
        padding-bottom: 40px;
    }
}

@keyframes show-animate {
  from {transform: translate(200%, -8px);}
  to {transform: translate(0, -8px);}
}