.text {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;

    @media ($large) {
        font-size: 16px;
        line-height: 1.8;
    }
}

.text:last-child {
    margin: 0;
}

.img-wrapper {
    position: relative;
}

.img-wrapper .image {
    position: absolute;
}