#home-page .parallax {
    position: relative;
    height: 90vw;
    overflow: hidden;

    @media ($small) {
        height: 70vw;
    }

    @media ($medium) {
        height: 60vw;
    }

    @media ($large) {
        height: 55vh;
    }

    @media ($xlarge) {
        height: 45vw;
    }
}

#home-page .parallax-el {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%, 0);
    z-index: -1;

    @media ($xlarge) {
        width: 100%;
        height: auto;
    }
}