.rooms {
  padding: 15px 0;

  @media ($small) {
    padding: 20px 0;
  }

  @media ($medium) {
    padding: 25px 0;
  }

  @media ($large) {
    padding: 35px 0;
  }

  @media ($xlarge) {
    padding: 40px 0;
  }
}

.rooms .room-list-item {
  padding: 40px 15px;
}

.rooms .description-wrapper .room-name {
  font-weight: 700;
  font-family: $font-serif2;
  font-size: 24px;
  margin-top: 5px;

  @media ($medium) {
      margin: 0;
  }
}

.rooms .description-wrapper .room-info {
    .room-price {
        color: $secondary-txt-color;
        margin-right: 8px;
    }
}

.room-list-item .img-wrapper {
  img {
    width: 100%;
  }
}

.room-list-item .description-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .description {
      margin-top: 10px;
  }
}

.rooms .room-list-item .btn-1 {
  background-color: #fff;
  color: $primary-txt-color;
  width: 188px;

  @media ($medium) {
      margin: 0 0 0 auto;
  }

  &:hover {
    background-color: $basic-color/1.1;
  }
}

.rooms .room-list-item:nth-child(even) {
  background-color: $even-room-bg;
}
