@import './global/variables';

body {
  font-family: $font-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none!important;
  outline: none;
  transition: .3s linear;
}

// h1, h2, h3, h4, h5, h6 {
//   font-family: $font-serif;
//   font-weight: 500;
// }