// @import './custom';

body {
  // font-family: $font-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none!important;
  outline: none;
}
